// Custom Imports
{{#jackson}}
import com.fasterxml.jackson.annotation.JsonTypeName;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonRawValue;
{{/jackson}}

// Lombok
import lombok.*;
import lombok.experimental.SuperBuilder;